.wrapper {
  width: 100%;
}

.labels {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.progressBarWrapper {
  position: relative;
  width: 100%;
  height: 25px;
  border: 1px solid #000;
  border-radius: 4px;
}

.progressBarWrapper div {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: width .2s ease-in-out;
}

.maxScoreBar {
  background-color: rgb(228, 228, 228);
}

.currentScoreBar {
  background-color: #959595;
}

.rightScoreBar {
  background-color: #000;
}