.root {
  width: 600px;
}

.innerContainer {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.questionIndex {
  padding: 4px;
}

.category {
  color: #959595;
  padding: 4px;
}

.question {
  font-size: 1.2rem;
  margin-top: 30px;
  padding: 4px;
}

.star {
  width: 15px;
  height: 15px;
}

.difficultyBlock {
  padding: 4px;
}