.root {
  width: 1000px;
  padding: 20px;
}

.innerContainer {
  width: 100%;
  height: 100%;
}

.category {
  color: #959595;
}

.question {
  font-size: 1.2rem;
}

.star {
  width: 15px;
  height: 15px;
}