.wrapper {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttonWrapper {
  width: 100%;
  padding: 20px 0;
}

.buttonWrapperLeft {
  text-align: left;
}

.buttonWrapperRight {
  text-align: right;
}

.button {
  cursor: pointer;
  min-width: 200px;
  outline: none;
  height: 30px;
  text-align: center;
  color: #000;
  background-color: #e0e0e0;
  border: 1px solid #000;
  border-radius: 4px;
  transition:
    color .0s ease-in-out,
    background .0s ease-in-out,
    border .0s ease-in-out;
}

.buttonSelected {
  color: #fff;
  background-color: #000;
  transition:
    color .2s ease-in-out,
    background .2s ease-in-out,
    border .2s ease-in-out;
}

.buttonUnselectable {
  cursor: default;
  color: #959595;
  border-color: #959595;
  background-color: #d1d1d1;
  transition:
    color .2s ease-in-out,
    background .2s ease-in-out,
    border .2s ease-in-out;
}

.buttonCorrect {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  transition:
    color .2s ease-in-out,
    background .2s ease-in-out,
    border .2s ease-in-out;
}

.correctLabel {
  text-align: center;
}

.nextQuestionButton {
  cursor: pointer;
  color: #000;
  background-color: #e0e0e0;
  border: 1px solid #000;
  border-radius: 4px;
  display: block;
  width: 200px;
  height: 40px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  outline: none;
}

.questionStatusWrapper {
  width: 100%;
}